{% extends 'base.html' %}

{% block title %}{{ garden.name }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="text-left mt-4">
        <button class="btn btn-secondary" onclick="history.back()">← Back</button>
    </div>
    <h2 class="text-center">{{ garden.name }}</h2>
    
    {% if garden.image %}
        <img src="{{ garden.image.url }}" class="img-fluid rounded mx-auto d-block mb-4" alt="{{ garden.name }}">
    {% endif %}

    <p><strong>Location:</strong> {{ garden.location }}</p>
    <p>{{ garden.description }}</p>
</div>
{% endblock %}
